.person-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-title {
    margin-bottom: 20px;
  }
  
  .person-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 300px;
  }