.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    min-height: 100vh;
    padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .title {
    margin-bottom: 20px;
  }
  
  .logoutButton {
    margin-left: auto;
    background-color: #f50057;
    color: white;
  }
  
  .table {
    max-width: 500px;
    width: 100%;
  }