.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-box {
  max-width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}